@charset "UTF-8";

/* IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300;400;500;700;800&display=swap');

/* IMPORT FIM */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    /* VARIÁVEIS */

    /* CORES */
    --azul_logo:#75EBFF;
    --azul_escuro_logo:#1455D7;
    --azul_claro_logo:#C9F7FF;
    --roxo_logo:#9988FF;

    /* FONTES */
    --titulo_principal:'Lobster Two';
    --sans-serif:'Raleway';
    --serif:'Solway';

}

body{
}

.links{
    color: black;
    text-decoration: 2px underline var(--roxo_logo);
    border: none;
    padding: none;
    margin: none;
    font-size: 1em;
    font-family: var(--serif);
    font-weight: normal;
    font-style: normal;
    display: inline;
}

.icon-link{
    font-size: .8em;
}

/* HEADER */

header{
    position: relative;
    background-color: var(--azul_escuro_logo);
    z-index: -2;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.624);
}

.fundo-header{
    position: absolute;
    z-index: -1;
    opacity: 25%;
    width: 100%;
    height: 100%;
}

.logo-header{
    width: 70px;
    height: 70px;
    border-radius: 30px 5px 30px 5px;
    margin: 5px;
    display: inline;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.507);
}

.nome-logo{
    display: inline;
    font-size: 2.5em;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.531);
    font-family: var(--titulo_principal);
    font-style: italic;
}

.header-organizar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* NAV BAR */

.nav-options{
    list-style-type: none;
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
}

.nav-options li{
    display: inline-block;
    background-color: transparent;
    padding: 5px;
    border-radius: 10px 0px;
    border: 1px solid var(--azul_logo);
    color: var(--azul_logo);
    font-family: var(--sans-serif);
    font-size: .8em;
    font-style: italic;
    letter-spacing: 1px;
}

/* NAV BAR FIM */

/* MAIN */

main{
    margin-top: 11px;
    padding: 5px 5px 20px 5px;
    background-color: white;
}

main p{
    text-align: center;
    padding: 10px 0px;
    font-size: 1.2em;
    font-family: var(--serif);
}

article a{
   text-align: center;
   font-style: italic;
   display: block;
   padding: 10px 0px;
   margin: 10px 0px;
   font-family: var(--sans-serif);
   font-size: 1.2em;
   text-decoration: none;
   border: 2px solid var(--azul_escuro_logo);
   color: var(--azul_escuro_logo);
   font-weight: bold;
   border-radius: 10px 0px;
}

main h2{
    display: inline-block;
    margin: 20px 0px 20px 50%;
    transform: translateX(-50%);
    font-family: var(--sans-serif);
    text-align: center;
    border-radius: 10px 0px;
    padding: 5px;
    background-image: linear-gradient(to right, var(--roxo_logo), var(--azul_escuro_logo));
    color: white;
}

main h3{
    font-family: var(--sans-serif);
    text-decoration: 3px underline var(--roxo_logo);
    padding: 3px;
    color: black;
}

/* MAIN FIM */

/* FOOTER */

footer{
    background-color: #164cb6;
    padding: 10px;
}

footer h2{
    font-family: var(--sans-serif);
    color: white;
    background-image: linear-gradient(to right, var(--azul_logo), var(--azul_claro_logo));
    border-radius: 10px 0px;
    display: inline-block;
    margin: 10px 0px 10px 50%;
    transform: translateX(-50%);
    padding: 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.504);
}

footer ul{
    list-style-type: none;
}

footer ul li{
    color: white;
}
